In [1]:
import numpy as np
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'
from glob import glob 
from os.path import join as opj
import os

In [2]:
def summarize(df):
    # remove same round correlations
    df = df.loc[df['round_x'] != df['round_y']]
    #df = df.loc[df['trial_x'] != df['trial_y']]
    
    # define trial type
    conditions = [
    (df['pair_x'] != df['pair_y']),
    (df['destination_x'] != df['destination_y']),
    (df['destination_x'] == df['destination_y'])
    ]
    values = ['across', 'within', 'same']
    df['type'] = np.select(conditions, values)
    
    # define valid type
    conditions = [
    (df['valid_x'] != df['valid_y']),
    (df['valid_x'] == True),
    (df['valid_x'] == False)
        ]
    values = ['valid-invalid', 'valid-valid', 'invalid-invalid']
    df['valid'] = np.select(conditions, values)
    
    # define segment type
    conditions = [
    (df['within_trial_TR_x'] <= 6),
    ((df['within_trial_TR_x'] <= 12) & (df['within_trial_TR_x'] > 6)),
    ((df['within_trial_TR_x'] <= 18) & (df['within_trial_TR_x'] > 12)),
    ((df['within_trial_TR_x'] <= 24) & (df['within_trial_TR_x'] > 18))
        ]
    values = ['same', 'early-similar', 'late-similar', 'different']
    df['segment'] = np.select(conditions, values)    
    
    return df
    
def group(df, li):
    # mean correlations
    df = df.groupby(li)['cor'].mean().reset_index()
    df['within_trial_TR'] = df['within_trial_TR_x']
    df = df.drop(columns=['within_trial_TR_x'])
    
    return df

In [3]:
rois_dict = {
    'ca23dg-body_thre_0.5_masked':'ca23dg-body',
    'ca1-body_thre_0.5_masked':'ca1-body',
    'evc_2_epi_thre_0.5_masked':'evc', 
    'ppa_mni_2_epi_thre_0.5_masked':'ppa'
}

output_dir = "/home/wanjiag/projects/MONSTERA/derivatives/csv_files/python/"
processed_subs = os.listdir(output_dir)

summary_dir = "/home/wanjiag/projects/MONSTERA/derivatives/csv_files/python_summary/"
processed_subs = os.listdir(output_dir)

file_dir = []

In [7]:
for k,roi in rois_dict.items():
    print(roi)
    file_dir = glob(opj(output_dir, '*', 'sub-MONSTERA*_rolling3_{}.csv'.format(roi)))
    print(len(file_dir))
    df = pd.concat((pd.read_csv(f) for f in file_dir), ignore_index=True)
    
    output_df = summarize(df)

    '''
    
    summary_df = group(output_df, ['sub_x','type','valid','within_trial_TR_x'])
    summary_df['roi'] = roi
    os.makedirs(opj(summary_dir, roi), exist_ok=True) 
    summary_df.to_csv(opj(summary_dir, roi, '{}_rolling3_summary.csv'.format(roi)), index=False) 

    summary_df = group(output_df, ['sub_x','type','valid','within_trial_TR_x', 'round_x', 'round_y'])
    summary_df['roi'] = roi                                                                                                                                                                                              
    summary_df.to_csv(opj(summary_dir, roi, '{}_rolling3_summary_with_rounds.csv'.format(roi)), index=False) 

    summary_df = group(output_df, ['sub_x','type','valid','within_trial_TR_x', 'pair_x', 'pair_y'])
    summary_df['roi'] = roi
    summary_df.to_csv(opj(summary_dir, roi, '{}_rolling3_summary_with_pair.csv'.format(roi)), index=False) 
    
    '''
    
    new_output_df = output_df.loc[(output_df['valid'] == 'valid-valid') & (output_df['type'] != 'same')]
    li = ['sub_x','type','segment','round_x', 'round_y', 'trial_x', 'trial_y', 'roi']
    group_output_df = new_output_df.groupby(li)['cor'].mean().reset_index()
    group_output_df.to_csv(opj(summary_dir, roi, '{}_rolling3_summary_with_trials.csv'.format(roi)), index=False)

ca23dg-body
45
ca1-body
45
evc
45
ppa
45

In [8]:
output_df['segment'].unique()

array(['same', 'early-similar', 'late-similar', 'different'], dtype=object)

In [9]:
output_df.columns

Index(['x', 'y', 'cor', 'sub_x', 'round_x', 'trial_x', 'TR_x', 'pair_x',
       'destination_x', 'valid_x', 'segment_x', 'within_trial_TR_x', 'sub_y',
       'round_y', 'trial_y', 'TR_y', 'pair_y', 'destination_y', 'valid_y',
       'segment_y', 'within_trial_TR_y', 'roi', 'type', 'valid', 'segment'],
      dtype='object')

In [ ]:
#output_df

In [5]:
output_df.loc[(output_df['segment_x']!=output_df['segment']) & (output_df['within_trial_TR_x'] > 18)].head(20)

Empty DataFrame
Columns: [x, y, cor, sub_x, round_x, trial_x, TR_x, pair_x, destination_x, valid_x, segment_x, within_trial_TR_x, sub_y, round_y, trial_y, TR_y, pair_y, destination_y, valid_y, segment_y, within_trial_TR_y, roi, type, valid, segment]
Index: []

[0 rows x 25 columns]

In [29]:
output_df

,x,y,cor,sub_x,round_x,trial_x,TR_x,pair_x,destination_x,valid_x,...,trial_y,TR_y,pair_y,destination_y,valid_y,segment_y,within_trial_TR_y,roi,type,valid
12,0,288,0.009735,52,5,0,10,pair3_west,shrub,False,...,0,10,pair3_west,shrub,True,same,1,ca23dg-body,same,valid-invalid
13,0,312,-0.042072,52,5,0,10,pair3_west,shrub,False,...,1,40,pair3_west,pergola,True,same,1,ca23dg-body,within,valid-invalid
14,0,336,-0.028456,52,5,0,10,pair3_west,shrub,False,...,2,70,pair1_east,bikerack,False,same,1,ca23dg-body,across,invalid-invalid
15,0,360,-0.166339,52,5,0,10,pair3_west,shrub,False,...,3,100,pair3_west,pergola,True,same,1,ca23dg-body,within,valid-invalid
16,0,384,0.100476,52,5,0,10,pair3_west,shrub,False,...,4,130,pair1_east,bikerack,True,same,1,ca23dg-body,across,valid-invalid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7807624,2591,2783,0.017687,11,4,15,449,pair2_north,pole,False,...,9,284,pair2_north,window,False,different,24,ca23dg-body,within,invalid-invalid
7807625,2591,2807,-0.186298,11,4,15,449,pair2_north,pole,False,...,10,314,pair2_north,pole,False,different,24,ca23dg-body,same,invalid-invalid
7807626,2591,2831,0.116033,11,4,15,449,pair2_north,pole,False,...,11,344,pair2_north,pole,True,different,24,ca23dg-body,same,valid-invalid
7807627,2591,2855,-0.144484,11,4,15,449,pair2_north,pole,False,...,12,374,pair4_south,map,False,different,24,ca23dg-body,across,invalid-invalid
7807628,2591,2879,0.039530,11,4,15,449,pair2_north,pole,False,...,14,425,pair4_south,map,True,different,24,ca23dg-body,across,valid-invalid

In [16]:
segment_df_sub52.groupby(li)['cor'].sum().reset_index().to_csv(opj(os.getcwd(), '{}_rolling3_summary.csv'.format(roi)), index=False)

In [24]:
print(df & (df['sub_x'] == 52) & (df['trial_x'] == 1))|
      ((df['round_y']==1) & (df['sub_y'] == 52) & (df['trial_y'] == 1))])

           x     y       cor  sub_x  round_x  trial_x  TR_x      pair_x  \
60         0  1440  0.029915     52        5        0    10  pair3_west
179       24  1440 -0.101547     52        5        1    40  pair3_west
297       48  1440  0.015300     52        5        2    70  pair3_west
414       72  1440 -0.081174     52        5        3   100  pair3_west
530       96  1440  0.071409     52        5        6   173  pair3_west
...      ...   ...       ...    ...      ...      ...   ...         ...
172465  1463  2783  0.090793     52        1        1    49  pair1_east
172466  1463  2807  0.033740     52        1        1    49  pair1_east
172467  1463  2831 -0.241600     52        1        1    49  pair1_east
172468  1463  2855  0.229801     52        1        1    49  pair1_east
172469  1463  2879 -0.053141     52        1        1    49  pair1_east

       destination_x  valid_x  ... sub_y  round_y  trial_y  TR_y      pair_y  \
60             shrub    False  ...    52        1        1    26  pair1_east
179          pergola    False  ...    52        1        1    26  pair1_east
297          pergola     True  ...    52        1        1    26  pair1_east
414            shrub     True  ...    52        1        1    26  pair1_east
530            shrub     True  ...    52        1        1    26  pair1_east
...              ...      ...  ...   ...      ...      ...   ...         ...
172465      bikerack     True  ...    52        9       10   312  pair3_west
172466      bikerack     True  ...    52        9       11   342  pair1_east
172467      bikerack     True  ...    52        9       13   389  pair3_west
172468      bikerack     True  ...    52        9       14   419  pair1_east
172469      bikerack     True  ...    52        9       15   449  pair1_east

        destination_y valid_y  segment_y  within_trial_TR_y          roi
60           bikerack    True       same                  1  ca23dg-body
179          bikerack    True       same                  1  ca23dg-body
297          bikerack    True       same                  1  ca23dg-body
414          bikerack    True       same                  1  ca23dg-body
530          bikerack    True       same                  1  ca23dg-body
...               ...     ...        ...                ...          ...
172465          shrub    True  different                 24  ca23dg-body
172466          bench   False  different                 24  ca23dg-body
172467        pergola    True  different                 24  ca23dg-body
172468       bikerack    True  different                 24  ca23dg-body
172469          bench    True  different                 24  ca23dg-body

[2592 rows x 22 columns]

In [ ]:

    #df = df.loc[df['trial_x'] != df['trial_y']]
    
    # define trial type
    conditions = [
    (df['pair_x'] != df['pair_y']),
    (df['destination_x'] != df['destination_y']),
    (df['destination_x'] == df['destination_y'])
    ]
    values = ['across', 'within', 'same']
    df['type'] = np.select(conditions, values)
    
    # define valid type
    conditions = [
    (df['valid_x'] != df['valid_y']),
    (df['valid_x'] == True),
    (df['valid_x'] == False)
        ]
    values = ['valid-invalid', 'valid-valid', 'invalid-invalid']
    df['valid'] = np.select(conditions, values)